*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* loader */
.spinner{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.326);
}
/* form button of doctor */
.form-btn{
  width:250px !important;
  margin-top:30px !important;
}